@model ModelCliente
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        AGREGAR NUEVO CLIENTE
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="CRUD" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control" id="nombre">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input asp-for="Direccion" type="text" class="form-control" id="direccion">
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="poblacion" class="form-label">Población</label>
                <input asp-for="Poblacion" type="text" class="form-control" id="poblacion">
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input asp-for="Telefono" type="text" class="form-control" id="telefono">
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

